.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    min-height: 20px;
    height: auto;
} 

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }