.feedback-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 600px;
  height: fit-content;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(26, 35, 53);
  color: white;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.button-control {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.count {
  font-size: 70px;
  color: white;
}

button:hover {
  box-shadow: 5px 0px 40px rgb(200, 190, 232);
}
